<div id="grid">
  {{#each subtool_order as |subtool_id|}}
  {{#with (lookup ../subtools subtool_id)}}
  <div class="cell" data-subtool-id="{{this.id}}"
    style="--subtool-color: {{this.color}}; --text-color: {{pickTextColorBasedOnBgColor this.color}};">
    <div class="hover-overlay hover-animation-active"><img class="settings-icon" src="/options/cog.png"></div>
    <div class="cell-inner">
      <div class="cell-content">
        <img class="subtool-icon" src="{{this.iconPath}}">
        <p class="subtool-name">{{this.name}}</p>
        {{#if (ne this.id "_guzztool")}}
        {{> static/lib/toggle_switch class="enable-subtool-toggle"}}
        {{/if}}
      </div>
      {{> options/subpage this}}
    </div>
  </div>
  {{/with}}
  {{/each}}
</div>