<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guzztool Options</title>
  <link rel="stylesheet" id="toggle_switch_css" href="/static/lib/toggle_switch.css">
  <link rel="stylesheet" href="/options/options.css">
  <script src="/static/lib/jquery.min.js"></script>
</head>

<body>
  <div class="grid">
    {{#each subtools}}
    <div class="cell" data-active="false" data-subtool-id="{{this.id}}" style="--subtool-color: {{this.color}}; --text-color: {{this.textColor}};">
      <img class="subtool-icon" src="{{this.iconPath}}">
      <img class="settings-icon" src="/options/cog.png">
      <p class="subtool-name">{{this.name}}</p>
      <div class="toggle">
        <label>
          <input type="checkbox">
          <span class="track">
            <span class="txt"></span>
          </span>
          <span class="thumb"></span>
        </label>
      </div>
    </div>
    {{/each}}
  </div>

  <script src="/options/options.js"></script>
</body>

</html>