<div class="subpage-content">
    <button class="back-button">Back</button>
    <h2>{{description}}</h2><br>
    {{#each settings}}
    <div class="setting">
        {{#if (eq this.type "string")}}
        <input id="setting-{{../id}}-{{this.id}}" name="{{this.id}}" type="text">
        <label for="setting-{{../id}}-{{this.id}}">{{this.title}}</label>
        {{else if (eq this.type "boolean")}}
        {{> static/lib/toggle_switch size="10px" input_name=id style="display: inline-block" }}
        <span>{{this.title}}</span>
        {{/if}}
    </div>
    <br>
    {{/each}}
</div>